body {
    margin: 0;

    font-family: 'JetBrains Mono', monospace;

    background: #2C2B3D;

    min-height: 100vh;
}

.page {
    width: 1092px;
    margin: 0 auto;
    padding-top: 71px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 64px;
    margin: 0;
    padding: 0;

    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li a {
    opacity: 0.7;
}

ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

h1, ul {
    font-family: 'JetBrains Mono', monospace;
}

.img1, main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    color: white;
    font-weight: 700;
}

span {
    color: #00BFA6;
    font-weight: bold;
}

p {
    color: #C2C2C2;
    font-size: 16px;
    line-height: 28px;
    text-align: center;

    font-family: 'Open Sans', sans-serif;

    margin: 59px 0;
}

footer {
    font-size: 14px;
    line-height: 28px;
    color: white;

    text-align: center;
    margin-top: 27px;
}

.line {
    width: 568px;
    height: 0;

    margin: 157px auto 0;

    border: 1px solid #00BFA6;
}

#lock {
    position: fixed;
    bottom: 20px;
    left: 20px;
}